@model Shop.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Descricao" class="control-label"></label>
                <input asp-for="Product.Descricao" class="form-control" />
                <span asp-validation-for="Product.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Valor" class="control-label"></label>
                <input asp-for="Product.Valor" class="form-control" />
                <span asp-validation-for="Product.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Observacao" class="control-label"></label>
                <input asp-for="Product.Observacao" class="form-control" />
                <span asp-validation-for="Product.Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductGroupId" class="control-label"></label>
                <select asp-for="Product.ProductGroupId" asp-items="@(new SelectList(Model.ProductGroups, "Id", "Descricao"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
